    

<div class="container-fluid" style="width:100%;min-height: 700px">
    <div class="register-logo">
        <a href="#"><b>Bestsellers</a>
    </div>
  <div class="row">
   <button class="btn bg-green" style="float: right;margin: 10px 20px;" id="btnExport" onclick="javascript:xport.toXLS('ptable');"> <li class="fa fa-download" style="padding: 5px"></li>Export as Excel</button>
    </div><br>

    <div style="background-color: white">
        <table id="ptable" style="width:100%" class="table table-striped">
            <thead>
                <tr>
                    <th style="text-align: right;">#</th>
                    <th style="text-align: right;">Products</th>
                    <th style="text-align: right;">Quantity</th>
                    <th style="text-align: right;">Total</th>
                </tr>
            </thead>
            <tbody>
                {{# each products}}
                <tr>
                    <td style="text-align: right;">{{this.count}}</td>
                    <td style="text-align: right;">{{this.product.model}}</td>
                    <td style="text-align: right;">{{this.quantity}}</td>
                    <td style="text-align: right;">{{this.price}}TK</td>
                </tr> 
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

