<div class="box" >
    <div class="register-logo">
        <a href="#"><b>Add</b>Serial</a>
    </div>
    <div class="box-body">

        <div class="row">
            
            <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                <div class="well">
                  
                    <h3 class="text-center">Add Related Product</h3><br>
                            <form action="/products/relatedProducts" method="POST">
                                <input type="hidden" name="img_number" id="img_number">
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="pid">Product Name
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="pname" id="pname"
                                            value="{{ product.name }}">
                                        <input type="text" name="pid" id="pid" value="5d1b2b63e9ad1500a4c2aa80">
                                        <select name="" id=""></select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">

                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="imagePath">Select Product
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="relatedProducts" id="relatedProducts">
                                            {{# each Product}}
                                            <option value="{{this._id}}">{{this.name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <center>
                                        <button type="submit" id="save_related_products"
                                            class="btn btn-default btn-md">Submit</button>
                                    </center>
                                </div>
                            </form>
                </div>
            </div>
        </div>
    </div>
</div>