<div class="register-box">
  <div class="register-logo">
    <a href="index.html"><b>Set</b>Password</a>
  </div>

  <div class="register-box-body">

    <form action="/users/SaveNewPass" method="POST">
     
      <div class="form-group has-feedback">
        <input type="hidden" name="token" class="form-control" value="{{token}}" required >
        <input type="hidden" name="_id" class="form-control" value="{{id}}" required >
        <label for="password">Enter New Password:</label>
         <input type="password" name="password" class="form-control"  required >
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
         <label for="password">Re-enter New Password:</label>
        <input type="password" name="password2" class="form-control"  required >
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      
      <div class="row">

        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Save</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.form-box -->
</div>